@{
    ViewBag.Title = "Invoice_my_cmpy";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-title">
    <i class="icon-custom-left"></i>

    <h3>FAKTURA &gt;MIN FAKTURA  &gt; FöRETAG</h3>
    <br />
</div>

<div class="col-lg-12">
    <ul id="myTab" class="nav nav-tabs">
        <li class=""><a id="b1" href="/Admin/Invoice_my_pvt_all">Privat</a></li>
        <li class="active"><a id="b2" href="/Admin/Invoice_my_cmpy">Företag</a></li>
    </ul>

    <div class="container-fluid  " style="background-color: white; overflow-y: auto; overflow-x: auto; height: 500px;">
        <!-- 1st r -->
        <form >
            <div class="col-sm-12">

                <!-- 1st r -->

                <div class="row" id="frm_pad" style="padding-top:12px">

                    <div class="col-sm-4 form-group">
                        <input class="form-control input-lg focus" id="date4"  placeholder="f.o.m Datum" type="date">
                    </div>
                    <div class="col-sm-4 form-group">
                        <input class="form-control input-lg focus" id="date2"  placeholder="t.o.m Datum" type="date">
                    </div>
                   
                </div>


            </div>

            <div class="row" id="frm_pad" style="padding-top:15px;">
                <div class="col-sm-12 form-group">
                    <button id="search" class="btn btn-success btn-rounded pull-right" type="button" onclick="Search_Invoice_cmpy_date()">Sok</button>
                    <script>

                        function Search_Invoice_cmpy_date() {

                            var c = $("#date4").val().toString();
                            var d = $("#date2").val().toString();

                            $.getJSON("/Admin/SearchResult_Invoice_cmpy_date",

                                {

                                    c: c,
                                    d: d

                                },

                                function (data) {

                                    alert(data.length);
                                    console.log(data);
                                    if (data != null) {

                                        var str = " ";
                                        var str1 = " ";
                                        for (var i = 0; i < data.length; i++) {
                                            /* mNewObj = document.createElement('tr');
                                              mNewObj.id = "BBB" + 1;
                                              mNewObj.innerHTML = "<td id='r" + i + "'>" + data[i].date + "</td>;<td id='r" + i + "'>" + data[i].LicensePlate + "</td>;<td id='r" + i + "'>" + data[i].ChassiNumber + "</td>;<td id='r" + i + "'>" + chanum + "</td>;";
                                              mNewObj.style.visibility = "show";
                                              document.getElementById("t1").appendChild(mNewObj);*/
                                            //   var invoicedate = new Date(data[i].InvoiceDate);

                                            var din = data[i].InvoiceDate;
                                            var dex = data[i].ExpDate;
                                            var expdate = new Date(parseInt(dex.substr(6)));
                                            var invoicedate = new Date(parseInt(din.substr(6)));
                                            str += "<tr>"
                                            str += "<td id='r" + i + "'>" + data[i].order_no + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].CompanyNumber + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].OrdersForm + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].Orderto + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].Invoice_no + "</td>";

                                            str += "<td id='r" + i + "'>" + invoicedate + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].OCR + "</td>";
                                            str += "<td id='r" + i + "'>" + expdate + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].OurReference + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].ContactPerson + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].Interest + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].Reminderfee + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].status + "</td>";
                                            str += "<td id='r" + i + "'>" + data[i].username + "</td>";
                                            str += "<td id='r" + i + "'>";
                                            str += "<div class='dropdown'>";
                                            str += "<button class='btn btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>Action<span class='caret'></span></button>";
                                            str += "<ul class='dropdown-menu'>";
                                            str += "<li><a href='/Admin/Invoice_my_cmpy_update/" + data[i].Invoice_no + "'>Redigera</a></li>";
                                            str += "<li><a href='/Admin/Invoice_my_cmpy_delete/" + data[i].Invoice_no + "'>Radera</a></li>";
                                            str += "</ul>";
                                            str += "</div>"
                                            str += "</td>";
                                            str += "</tr>";
                                        }

                                    }
                                    else if (data == false) {
                                        alert("Sorrry no record");
                                    }
                                    $('#t1324').html(str);
                                });

                        };
                    </script>

                </div>


            </div>
        </form>

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a id="b1" href="/Admin/Invoice_my_cmpy">Allt</a></li>
            <li class=""><a id="b2" href="/Admin/Invoice_my_cmpy_paid">betald</a></li>
            <li class=""><a id="b2" href="/Admin/Invoice_my_cmpy_unpaid">obetald</a></li>
        </ul>

        <table class="table table-striped">
            <caption>&nbsp;</caption>
            <thead>
                <tr>
                    <th>Order&nbsp;Nummer</th>
                    <th>Företag&nbsp;Nummer</th>
                    <th>Ordrar&nbsp;f.o.m</th>
                    <th>Ordrar&nbsp;t.o.m</th>
                    <th>Faktura&nbsp;Nummer</th>
                    <th>Faktura&nbsp;Datum</th>
                    <th>OCR</th>
                    <th>Förfallo datum</th>
                    <th>Vår &nbsp;Referens</th>
                    <th>Kontakt&nbsp;Person</th>
                    <th>Dröjsmål</th>
                    <th>Aterstoden &nbsp;Avgif</th>
                    <th>Status</th>
                    <th>UserName</th>
                    <th>Åtgärd</th>

                </tr>
            </thead>
            <tbody id="t1324">
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.order_no</td>
                        <td>@x.CompanyNumber</td>
                        <td>@x.OrdersForm</td>
                        <td>@x.Orderto</td>
                        <td>@x.Invoice_no</td>
                        <td>@x.InvoiceDate</td>
                        <td>@x.OCR</td>
                        <td>@x.ExpDate</td>
                        <td>@x.OurReference</td>
                        <td>@x.ContactPerson</td>
                        <td>@x.Interest</td>
                        <td>@x.Reminderfee</td>
                        <td>@x.status</td>
                        <td>@x.username</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="/Admin/Invoice_my_cmpy_update/@x.Invoice_no">Redigera</a></li>
                                    <li><a href="/Admin/Invoice_my_cmpy_delete/@x.Invoice_no">Radera</a></li>
                                </ul>
                            </div>
                        </td>

                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>


