@model IEnumerable<CarService.Models.privateservice>

@{
    ViewBag.Title = "Service_list_pvt";
    Layout = "~/Views/Shared/_LayoutClientPrivate.cshtml";
}


<div class="">
    

    <h3>Mina Tjänster &gt;Tjänster &gt; Privat</h3>
    <br />
</div>


<div class="col-lg-12">
    
    <div id="" class="container-fluid " style="background-color:white">
        <div class="col-sm-12">

            <!-- 1st r -->

            <div class="row" id="frm_pad" style="padding-top:12px">

                <div class="form-group col-sm-6 ">
                    <select name="" class="form-control " id="">
                        <option value="">Service Kategori</option>
                        <option value="">A</option>
                        <option value="">B</option>
                    </select>



                </div>


                <div class="form-group col-sm-6 ">
                    <select name="" class="form-control " id="">
                        <option value="">Service Type</option>
                        <option value="">A</option>
                        <option value="">B</option>
                    </select>



                </div>
            </div>
        </div>
        <div class="container-fluid  " style="background-color:white ;overflow-y:auto ;overflow-x:auto;">

            <table class="table table-striped ">
                <caption>&nbsp;</caption>
                <thead>
                    <tr>
                        <th>Order&nbsp;Nummer</th>
                        <th>Service&nbsp;Kategori</th>
                        <th>Tjänst&nbsp;</th>
                        <th>Pris&nbsp;EX&nbsp;Moms</th>
                        <th>Pris &nbsp;Inc&nbsp;moms</th>
                        <th>Användar&nbsp;Namn</th>
                        <th>Reg&nbsp;Nr</th>
                        

                    </tr>
                </thead>
                <tbody>
                    @foreach (var z in Model)
                    {
                        <tr>
                             <td>@z.NwOd_private.order_no</td>
                            <td>@z.Service_add_pakg_Pvt.ChooseCategory</td>
                            
                            <td>@z.Service_add_pakg_Pvt.ServiceName</td>
                            <td>@z.Service_add_pakg_Pvt.PriceExVAT</td>
                            <td>@z.Service_add_pakg_Pvt.PriceIncVAT</td>
                            <td>@z.NwOd_private.username</td>
                            <td>@z.NwOd_private.LicensePlate</td>

                        </tr>

                    }
                </tbody>
            </table>

        </div>
    </div>
</div>